<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.cxzheng.tracemanui">

    <application>
        <provider
                android:name=".TraceManProvider"
                android:authorities="${applicationId}.contentprovider"
                android:exported="false" />
    </application>
</manifest>
